* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    height: 7000px;
}
.container {
    margin: 0 auto;
    padding: 15px;
}
/* start navbar */
.navbar {
    background-color: #000c20;
}
/* start line*/
.line {
    width: 100%;
    height: 0;
    border-width: .5px;
    border-style: solid;
    border-color:transparent transparent #484849 transparent;
}
/* end line */
.navbar .info { /* start info */
    width: 100%;
    display: flex;
    padding: 7px 0;
    color: #7b8693;
}
.navbar .info span {
    width: 400px;
}
.navbar .info ul {
    width: 100%;
    text-align: right;
}
.navbar .info ul li {
    display: inline-block;
    margin: 0 7px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.navbar .info ul li:hover {
    color: #F15F22;
    transform: rotatey(360deg);
} /* end info */
.menu { /* start menu */
    display: flex;
    padding: 3px 0;
    text-align: right;
    z-index: 4000;
}
.menu .logo {
    margin-top: 5px;
}
.menu ul {
    width: 100%;
}
.menu ul li {
    display: inline-block;
    margin: 10px 15px;
    font-size: 18px;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: .4s all ease-in-out;
}
.menu ul li a:hover {
    color:#F15F22;
}
.menu ul li ul {
    position: absolute;
    width: 153px;
    background: rgba(0,0,0,0.5);
    border-top: 3px solid #F15F22;;
    text-align: left;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    transition: .5s all ease-in-out;
    content:'';
    top:120%;
    left:-20px;
    opacity:0;
    visibility:hidden;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 2000;
}
.myfourli:hover .mylist {
    opacity:1;
    visibility:visible;
    transform: scaleY(1);
}
.menu ul li ul li a:hover {
    padding-left: 10px;
}
.menu button { /* our button */
    width: 150px;
    margin-left: 30px;
}
.menu .icon { /* our icon bar */
    font-size: 35px;
    color: #F15F22;
    padding: 10px 0px;
    display: none;
    text-align: right;
    width: 100%;
    cursor: pointer;
}
/* start nav bar media */
@media (max-width: 992px) {
    .navbar .inf,
    .navbar .menu ul, 
    .navbar .menu .mybutton , 
    .line 
    {
        display: none !important;
    }
    .icon {
        display: block !important;
    }
    .navbar .menu {
        padding: 5px 0;
    }
    .nav2 .container {
        padding: 0 15px !important;
    }
}
/* start menu links */
.menu-links {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: .5s all ease-in-out;
    z-index: 4000;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 40px 0;
}
.menu-links .container {
    position: relative;
}
.menu-links .container >i {
    position: absolute;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}
.menu-links .container > ul > li {
    padding: 20px;
    border-bottom: .5px solid rgb(75, 75, 75);
}
.menu-links .container > ul > li:last-of-type {
    border-bottom: none;
}
.menu-links .container > ul > li ul {
    padding-left: 33px;
    padding-top: 10px;
    display: none;
}
.menu-links .container > ul > li i {
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer;
}
.menu-links .container > ul > li ul li {
    margin-bottom: 10px;
}
.menu-links .container ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
/******************************************/
/* start header */
header {
    background-image: url(../images/h1_hero.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1000;
}
header .container h2 {
    color: #fff;
    font-size: 71px;
    width: 70%;
    margin-bottom: 30px;
    margin-top: 80px;
}
header .container h2 span {
    color: #F15F22;
}
header .container input {
    padding: 14px;
    font-size: 24px;
    width: 34%;
    border-radius: 5px;
    border: none;
    margin: 40px 0;
}
header .container button {
    padding: 14px;
    font-size: 24px;
    background-color: #F15F22;
    color: #fff;
    border: none;
    width: 200px;
    cursor: pointer;
    margin: 40px 0;
}
header .container input:focus {
    outline: none;
}
header .container p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.3px;
    margin: 20px 0 100px;
}
@media (max-width: 575px) {
    header {
        padding: 0 0;
    }
    header .container h2 {
        width: 100%;
        font-size: 25px;
        margin-bottom: 17px;
        margin-top: 18px;
    }
    header .container button {
        width: 100px;
        padding: 10px 5px;
        font-size: 16px;
        margin: 11px 0;
    }
    header .container input {
        padding: 10px;
        font-size: 16px;
        margin: 11px 0;
    }
    header .container p {
        margin-top: 21px;
        margin-bottom: 30px;
    }
}
@media(min-width: 576px) and (max-width: 767px) {
    header {
        padding: 0 0;
    }
    header .container h2 {
        width: 100%;
        font-size: 35px;
        margin-bottom: 17px;
        margin-top: 20px;
    }
    header .container button {
        width: 150px;
        font-size: 18px;
        margin: 20px 0;
    }
    header .container input {
        font-size: 18px;
        margin: 20px 0;
    }
    header .container p {
        margin-top: 10px;
    }
}
@media(min-width:768px) and (max-width: 992px) {
    header .container h2 {
        width: 100%;
        font-size: 46px;
        margin-top: 35px;
    }
    header .container button {
        width: 150px;
        font-size: 18px;
        margin: 20px 0;
    }
    header .container input {
        font-size: 18px;
        margin: 20px 0;
    }
}
/*********************************/
/* start contact */
.contact {
    padding: 30px 0;
    background:#F9F9F9;
}
.contact .container {
    display: flex;
}
.contact .container .contact-box {
    width: calc(100%/3);
    display: flex;
    position: relative;
}
.contact .container .contact-box i {
    font-size: 35px;
    color: #F15F22;
    margin-top: 10px;
}
.contact .container .contact-box div {
    padding-left: 20px;
}
.contact .container .contact-box p {
    color: #4b4a4a;
    margin-bottom: 10px;
}
.contact .container .contact-box span {
    font-weight: bold;
    font-size: 20px;
    color: #2C234D;
}
@media (max-width: 575px) {
    .contact .container .contact-box {
        width: 100% !important;
        margin-bottom:30px;
        margin-left: 10px;
    }
    .contact-box i {
        font-size: 30px !important;
    }
    .contact-box div span {
        font-size: 18px !important;
    }
}
@media (max-width : 992px) {
    .contact .container {
        flex-wrap: wrap;
    }
    .contact .container .contact-box:not(:last-of-type) {
        width: 50%;
        margin-bottom: 30px;
    }
    .contact .contact-box:last-of-type {
        width: 100%;
        margin-bottom: 0 !important;
    }
}
/* globa media */
@media (max-width: 575px) {

}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
/* end global media */
.res-image {
    width: 100%;
}
.classic-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mybutton {
    border: none;
    background-color: #F15F22;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s all ease-in-out;
}
.mybutton:hover {
    background-color: #cc511c;
}
.nav2 {
    z-index: 3000;
}