* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    height: 7000px;
}
.container {
    margin: 0 auto;
    padding: 15px;
}
/* start to top button */
.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: #F15F22;
    border-radius: 50%;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 20px;
    z-index: 6;
    cursor: pointer;
    display: none;
}
/* start navbar */
.navbar {
    background-color: #000c20;
}
/* start line*/
.line {
    width: 100%;
    height: 0;
    border-width: .5px;
    border-style: solid;
    border-color:transparent transparent #484849 transparent;
}
/* end line */
.navbar .info { /* start info */
    width: 100%;
    padding: 7px 0;
    color: #7b8693;
}
.navbar .info span {
    width: 400px;
}
.navbar .info ul {
    width: 100%;
    text-align: right;
}
.navbar .info ul li {
    display: inline-block;
    margin: 0 7px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.navbar .info ul li:hover {
    color: #F15F22;
    transform: rotatey(360deg);
} /* end info */
.menu { /* start menu */
    padding: 3px 0;
    text-align: right;
    z-index: 4;
}
.menu .logo {
    margin-top: 5px;
}
.menu > ul {
    width: 100%;
}
.menu >ul li {
    display: inline-block;
    margin: 10px 15px;
    font-size: 18px;
    position: relative;
}
.menu >ul li a {
    text-decoration: none;
    color: #fff;
    transition: .4s all ease-in-out;
}
.menu >ul li a:hover {
    color:#F15F22;
}
.menu >ul li ul {
    position: absolute;
    width: 153px;
    background: rgba(0,0,0,0.5);
    border-top: 3px solid #F15F22;;
    text-align: left;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    transition: .5s all ease-in-out;
    content:'';
    top:120%;
    left:-20px;
    opacity:0;
    visibility:hidden;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 2;
}
.myfourli:hover .mylist {
    opacity:1;
    visibility:visible;
    transform: scaleY(1);
}
.menu > ul li ul li a:hover {
    padding-left: 10px;
}
.menu button { /* our button */
    width: 150px;
    margin-left: 30px;
}
.menu .icon { /* our icon bar */
    font-size: 35px;
    color: #F15F22;
    cursor: pointer;
}
.menu .bar-icon {
    padding: 10px 0px;
    display: none;
    text-align: right;
    width: 100%;
    position: relative;
}
.menu .logo img {
    height: 35px;
}
/* start nav bar media */
@media (max-width: 350px) {
    .nav2 .logo {
        display: none;
    }
}
@media (max-width: 992px) {
    .navbar .inf,
    .navbar .menu > ul, 
    .navbar .menu .mybutton , 
    .line 
    {
        display: none !important;
    }
    .bar-icon {
        display: block !important;
    }
    .navbar .menu {
        padding: 5px 0;
    }
    .nav2 .container {
        padding: 0 15px !important;
    }
}
/* start menu links */
/*
.menu-links {
    position: fixed;
    top: 100%;
    left: 0;
    
    width: 100%;
    transition: .5s all ease-in-out;
    z-index: 4;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 40px 0;
}
.menu-links .container {
    position: relative;
}
.menu-links .container >i {
    position: absolute;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}
.menu-links .container > ul > li {
    padding: 20px;
    border-bottom: .5px solid rgb(75, 75, 75);
}
.menu-links .container > ul > li:last-of-type {
    border-bottom: none;
}
.menu-links .container > ul > li ul {
    padding-left: 33px;
    padding-top: 10px;
    display: none;
}
.menu-links .container > ul > li i {
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer;
}
.menu-links .container > ul > li ul li {
    margin-bottom: 10px;
}
.menu-links .container ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
*/
.bar-icon .menu-links {
    position: absolute;
    top: 100%;
    z-index: 12;
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 7px rgb(0 0 0 / 0.3);
    opacity: 0;
    transition: .5s all ease-in-out;
}
.bar-icon .menu-links:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    right: 5px;
    border: 10px solid;
    border-color: transparent transparent #FFF transparent;
    top: -20px;
}
.bar-icon .menu-links >ul >li {
    padding: 5px 0 7px;
    border-bottom: 1px solid #ccc;
}
.bar-icon .menu-links> ul> li:last-of-type {
    border-bottom: none;
}
.bar-icon .menu-links >ul >li a {
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
}
.bar-icon .menu-links >ul >li i {
    font-size: 18px;
    float: right;
    padding-right: 20px;
    cursor: pointer;
}
.bar-icon .menu-links >ul >li ul {
    padding-left: 20px;
}
.bar-icon .menu-links >ul >li ul li {
    padding: 5px 0 3px;
}
.bar-icon .menu-links ul li a:hover {
    color: #F15F22;
}
/*******************************************/
/* start header */
header {
    background-image: url(../images/h1_hero.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
}
header .container h2 {
    color: #fff;
    font-size: 71px;
    width: 70%;
    margin-bottom: 30px;
    margin-top: 80px;
}
header .container h2 span {
    color: #F15F22;
}
header .container input {
    padding: 14px;
    font-size: 24px;
    width: 34%;
    border-radius: 5px;
    border: none;
    margin: 40px 0;
}
header .container button {
    padding: 14px;
    font-size: 24px;
    background-color: #F15F22;
    color: #fff;
    border: none;
    width: 200px;
    cursor: pointer;
    margin: 40px 0;
}
header .container input:focus {
    outline: none;
}
header .container p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.3px;
    margin: 20px 0 100px;
}
@media (max-width: 575px) {
    header {
        padding: 0 0;
    }
    header .container h2 {
        width: 100%;
        font-size: 25px;
        margin-bottom: 17px;
        margin-top: 18px;
    }
    header .container button {
        width: 80%;
        padding: 10px 10px;
        font-size: 17px;
        margin: 10px 0;
    }
    header .container input {
        padding: 10px;
        font-size: 17px;
        margin: 7px 0;
        width: 80%;
    }
    header .container p {
        margin-top: 21px;
        margin-bottom: 30px;
    }
}
@media(min-width: 576px) and (max-width: 767px) {
    header {
        padding: 0 0;
    }
    header .container h2 {
        width: 100%;
        font-size: 35px;
        margin-bottom: 17px;
        margin-top: 20px;
    }
    header .container button {
        width: 150px;
        font-size: 18px;
        margin: 20px 0;
    }
    header .container input {
        font-size: 18px;
        margin: 20px 0;
    }
    header .container p {
        margin-top: 10px;
    }
}
@media(min-width:768px) and (max-width: 992px) {
    header .container h2 {
        width: 100%;
        font-size: 46px;
        margin-top: 35px;
    }
    header .container button {
        width: 150px;
        font-size: 18px;
        margin: 20px 0;
    }
    header .container input {
        font-size: 18px;
        margin: 20px 0;
    }
}
/*********************************/
/* start contact */
.contact {
    padding: 30px 0;
    background:#F9F9F9;
}
.contact .container .contact-box {
    width: calc(100%/3);
    display: flex;
    position: relative;
}
.contact .container .contact-box i {
    font-size: 35px;
    color: #F15F22;
    margin-top: 10px;
}
.contact .container .contact-box div {
    padding-left: 20px;
}
.contact .container .contact-box p {
    color: #4b4a4a;
    margin-bottom: 10px;
}
.contact .container .contact-box span {
    font-weight: bold;
    font-size: 20px;
    color: #2C234D;
}
@media (max-width: 575px) {
    .contact .container .contact-box {
        width: 100% !important;
        margin-bottom:30px;
        margin-left: 10px;
    }
    .contact-box i {
        font-size: 30px !important;
    }
    .contact-box div span {
        font-size: 18px !important;
    }
}
@media (max-width : 992px) {
    .contact .container {
        flex-wrap: wrap;
    }
    .contact .container .contact-box:not(:last-of-type) {
        width: 50%;
        margin-bottom: 30px;
    }
    .contact .contact-box:last-of-type {
        width: 100%;
        margin-bottom: 0 !important;
    }
}
/*******************************/
/* start services */
.service {
    padding: 50px 0;
    text-align: center;
}
.service .container .ser-sec .service-box {
    margin-right: 2%;
    width: calc(96%/3);
    padding: 80px 20px;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #f1ecec;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.2);
}
.service .container .ser-sec .service-box:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background: #ff5f13;
    transition: .6s;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
}
.service .container .ser-sec .service-box:last-of-type {
    margin-right: 0;
}
.service .container .service-box i {
    color: #F15F22;
    font-size: 45px;
    margin-bottom: 45px;
}
.service .container .service-box h3 {
    color: #2C234D;
    font-size: 35px;
    margin-bottom: 30px;
}
.service .container .service-box p {
    color: #575757;
    font-size: 18px;
    padding: 0 10px;
    line-height: 1.6;
}
.service .container .ser-sec .service-box:hover:before {
    height: 100%;
}
.service .container .ser-sec .service-box:hover .content i,
.service .container .ser-sec .service-box:hover .content h3,
.service .container .ser-sec .service-box:hover .content p
{
    color: #fff;
}
@media (max-width: 575px) {
    .service .container .ser-sec .service-box {
        width: 80% !important;
        margin: 15px auto !important; 
    }
    .service .container h2 {
        font-size: 25px;
    }
    .service .container .ser-sec .service-box {
        padding: 30px 10px !important;
    }
    .service .container .ser-sec .service-box .content h3{
        margin-bottom: 15px;
    }
}
@media (max-width: 992px) {
    .service .container .flex {
        flex-wrap: wrap;
    }
    .service .container .ser-sec .service-box {
        width: calc(98%/2) ;
        margin-right: 0 ;
    }
    .service .container .ser-sec .service-box:first-of-type {
        margin-right: 2%;
    }
    .service .container .ser-sec .service-box .content h3 {
        font-size: 25px;
    }
} 
/*********************/
/* start about us */
.about {
    padding: 50px 0;
}
.about section {
    width: 50%;
}
.about .aboutus {
    padding-right: 80px;
}
.about .ourh2 {
    font-size: 50px !important;
}
.aboutus p {
    color: #4b4949;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.aboutus button {
    letter-spacing: 1.3px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 0 30px;
}
.aboutus button:focus {
    outline: 1px solid transparent;
}
.about .image {
    padding-left: 130px;
}
@media (max-width: 575px) {
    .about .aboutus h2 {
        font-size: 30px !important;
        line-height: 1.7;
        margin-bottom: 10px;
    }
    .about {
        padding: 20px 0;
    } 
}
@media (max-width: 768px) {
    .about .aboutus h2 {
        font-size: 40px;
    }
}
@media (max-width: 992px) {
    .about .flex {
        flex-wrap: wrap;
    }
    .about section {
        width: 100%;
    }
}
@media (max-width:1200px) {
    .about .aboutus {
        padding-right: 20px;
    }
    .about .image {
        padding-left: 0 ;
    }
}
/*************************/
/* start contact us */
.contact-us {
    padding: 60px 20px;
    background-image: url("../images/section_bg02.jpg");
    background-size: cover;
}
.contact-us .flex {
    justify-content: flex-end;
}
.contact-us .ourform {
    width: 66.6667%;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 80px;
}
.contact-us .ourform > span {
    margin-left: 15px;
}
.contact-us .ourform h2 {
    margin-bottom: 20px;
    margin-left: 15px;
}
.contact-us .ourform p {
    color: #4b4b4b;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 15px;
}
.contact-us .ourform form span {
    color:#2C234D;
    font-weight: bold;
}
.contact-us .ourform form input ,
.contact-us .ourform form select {
    margin: 15px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}
.contact-us .ourform form input:focus ,
.contact-us .ourform form select:focus {
    outline: none;
}
.contact-us .ourform form select option {
    color: rgb(85, 85, 85);
}
.contact-us .ourform form .inputhalf {
    width: calc(100%/2 - 32px);
}
.contact-us .ourform form .input1 {
    width: calc(100% - 30px);
}
.contact-us .ourform form .input3 {
    width: calc(100%/3 - 33px);
}
.contact-us .ourform form input[type="submit"] {
    width: calc(100% - 30px);
    color: #fff;
    background-color: #ff5f13;
}
.contact-us .ourform form label {
    color: rgb(85, 84, 84);
}
.contact-us .ourform form span {
    margin-left: 15px;
}
@media (max-width: 575px) {
    .contact-us .ourform form .input3 ,
    .contact-us .ourform form .inputhalf {
        width: calc(100% - 30px) !important;
    }
    .contact-us .ourform form input[type="radio"] {
        width: 5%;
    }
    
}
@media (max-width: 768px) {
    .contact-us .ourform {
        padding: 50px 10px;
    }
    .contact-us .ourform form .input3 ,
    .contact-us .ourform form .inputhalf:first-of-type ,
    .contact-us .ourform form .inputhalf:nth-of-type(2) {
        width: calc(100% - 30px) ;
    }
}
@media(max-width: 991px) {
    .contact-us .ourform {
        width: 100%;
    }
    .contact-us .ourform form select.inputhalf {
        width: calc(100% - 30px);
    }
    .contact-us .ourform form .input3 {
        width: calc(100%/2 - 32px);
    }
    .contact-us .ourform form span {
        display: block;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .contact-us .ourform {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .contact-us .ourform {
        width: 66.66667%;
    }
}
/* globa media */
@media (max-width: 575px) {

}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
/* end global media */
.res-image {
    width: 100%;
}
.classic-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mybutton {
    border: none;
    background-color: #F15F22;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s all ease-in-out;
    padding: 7px 10px;
}
.mybutton:hover {
    background-color: #cc511c;
}
.nav2 {
    z-index: 3;
}
.our-span {
    color: #F15F22;
    font-size: 19px;
}
.ourh2 {
    font-size: 40px;
    color: #2C234D;
    font-weight: bold;
    margin: 10px 0 43px;
}
.flex {
    display: flex;
}
